.corn-container{
  background-color: #E1D9B3;
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.corn_card {
  background-color: #F8E473; 
  border-radius: 50px; /* 丸みをつける */
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* テキストを中央揃えにする */
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}
.corn_card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.corn-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0; /* 粒同士をくっつける */
  padding: 10px; /* グリッドの全体の余白を調整 */
  justify-content: center; /* 粒を中央揃え */
}

.corn_card{
  background-color: #F8E473;
  border-radius: 20%;
  width: 160px; /* 粒の幅 */
  height: 100px; /* 粒の高さ */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0; /* 粒を隙間なく配置 */
}

.corn_dummy {
  background-color: #F8E473;
  border-radius: 20%;
  width: 160px; /* 粒の幅 */
  height: 100px; /* 粒の高さ */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0; /* 粒を隙間なく配置 */
}

/* ダミー粒のスタイリング */
.corn_dummy {
  background-color: #F7E17A; /* ダミー用に薄い黄色 */
}
