/* 管理画面のデザイン */

.crop-management-body {
  font-family: 'PencilKaisho', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #fffdd0; /* クリーム色 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-management-container {
  position: relative;
  background:url('/images/background-image-borad.png');
  background-size: 100% 100%;
  width: 90%;
  max-width: 1200px;
  height: 650px;
  margin: 0 auto;
  padding: 60px;
  padding-top: 60px;
  padding-left: 130px;
  background-color: #fffdd0;
  border-radius: 10px;
  border-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.crop-manager{
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;

}

.crop-management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.crop-management-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #374151;
}

.crop-management-header a {
  background-color: #59986b;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  /* border-radius: 25px; */
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.crop-management-header a:hover {
  background-color: #0a862d;
  transform: scale(1.05);
}

.crop-management-table {
  width: 95%; /* 横幅を少し小さくする */
  text-align: left;
  border-collapse: collapse; /* セルの境界線を重ねる */
  border: 1px solid #ffffff; /* テーブルの外枠 */
  background-color: transparent; /* テーブルの背景色 */
}

.crop-management-table th,
.crop-management-table td {
  padding: 5px 8px; /* Changed from 10px to 5px */
  border-bottom: 1px solid #e5ebe5; /* テーブルの横罫線 */
  color: #374151; /* テキストの色 */
}

.crop-management-table th {
  background-color: transparent;
  font-weight: bold;
  height: 10px;
}

.crop-management-table tr:hover {
  background-color: #e7e7e7;
}

.crop-management-action-buttons {
  display: flex;
  gap: 5px;
}

.crop-management-success-message {
  background-color: #d1fae5;
  color: #065f46;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.create-button{
  margin-right: 20px;
}

.pagination-links .pagination{
  display: inline-flex;
  list-style: none;
  padding: 0;
}


@media (max-width: 768px) {
  .crop-management-container {
      padding: 20px;
  }
  .crop-management-header h1 {
      font-size: 1.5rem;
  }
  .crop-management-header a {
      padding: 8px 15px;
  }
  .crop-management-table th,
  .crop-management-table td {
      padding: 10px;
  }
  .crop-management-action-buttons {
      flex-direction: column;
      display: flex;
      gap: 5px;
  }
}

@font-face {
  font-family: 'PencilKaisho';
  src: url('/fonts/g_pencilkaisho_free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'PencilKaisho', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #374151;
}
.custom-font::after {
  content: ''; /* 擬似要素を表示する */
  position: absolute;
  bottom: 0; /* テキストの下部に配置 */
  left: 0;
  width: 100%; /* テキストの幅に合わせる */
  height: 8px; /* マーカーの高さ */
  background-color: #fdd835; /* マーカーの色（黄色） */
  z-index: -1; /* テキストの背面に配置 */
  border-radius: 4px; /* マーカーの角を丸くする */
}
