@charset "UTF-8";

*,
  ::before,
  ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1;
  background-color: #ffffff;
}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main{
  margin-top: 110px;
}
.header-inner{
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 34px; /* ロゴサイズ */
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.login-link {
  font-size: 16px;
  color: #3a8037;
  padding: 10px 20px;
  border: 2px solid #196725;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.login-link:hover {
  background-color: #2f7830;
  color: #fff;
}



.first-view{
  height: calc(100vh - 100px);
  background-image: url('../images/first-view-image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.first-view-text{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 80px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  line-height: 72px;
}

.first-view-text p{
  font-size: 18px;
  margin-top: 20px;
}

.lead{
  max-width: 1200px;
  margin: 60px auto;
}

.lead p{
  line-height: 2;
  text-align: center;
}

.link-button-area{
  text-align: center;
  margin-top: 40px;
}

.link-button-text{
  background-color: #4caf50;
  color: #ffffff;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.link-button-text:hover{
  background-color: #388e3c;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.recommended{
  background-color: #f8f8f8;
  padding-top: 45px;
  padding-bottom: 55px;
}

.recommended h2{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.recommended h2::after{
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-list{
  display: flex;
  animation: loop-slide 40s infinite linear 1s both;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  /*overflow: scroll;*/
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.item-list li{
  flex-shrink: 0;
  width: 260px;
  margin-left: 75px;
}

.item-list li:first-child{
  margin-left: 0;
}

.item-list dl{
  margin-top: 20px;
}

.item-list dt{
  font-weight: bold;
}

.item-list dd{
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.item-list img{
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer{
  color: #ffffff;
  background-color: #24211b;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tel{
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.copyrigth{
  font-size: 14px;
  font-weight: bold;
  margin-top: 90px;
}

.wrap {
  display: flex;
  align-items: center;
  height: 340px;
  overflow: hidden;
}